@mixin bg-cover{
    background-size: cover;
    background-position: center center;
}
@mixin border-radius($angle) {
    border-radius: $angle;
    -webkit-border-radius: $angle;
    -moz-border-radius: $angle;
}
@mixin bgset{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin text-animation($number){
        animation: fadein $number;
        -moz-animation: fadein $number;
        -webkit-animation: fadein $number;
        -o-animation: fadein $number;
}