@import 'mixin';
@import 'grid';

$font-Microsoft-JhengHei:"Microsoft JhengHei";
$size-px:10px;
$size-rem:1rem;
body{
    font-family: $font-Microsoft-JhengHei;
    background-image: url("../../img/bg.jpg");
}
.bg-wood {
    background-image: url("../../img/bg2.jpg");
}
.bg-wood2 {
    background-color: rgba(255, 255, 255, 0.322);
    @include border-radius(10px);
}
.bg-brown {
    background-color: #210d05;
}
.photo-maso {
    background-image: url("../../img/maso2.png");
}
.bg-cover {
    @include bg-cover;
}
.content-pr {
    position: relative;
}
.photo-position {
    position: absolute;
    top: 0;
    bottom: 0;
}
.py-10 {
    padding-bottom: $size-rem*3;
    @include md(){
        padding-bottom: $size-rem*20;
    }
}
.bg-md-dark {
    background-color: rgba(24, 24, 24, 0.411);
    padding-top: $size-rem;
    padding-bottom: $size-rem;
    border-radius: $size-px;
    @include md(){
        background-color: transparent;
    }
}
.bg-tra {
    background-color: transparent !important;
}
.jumbotron {
    padding-top: $size-rem*6;
    padding-bottom: $size-rem*6;
    margin-bottom: 0;
    background-color: #fff;
        p:last-child {
            margin-bottom: 0;
        }
        .container{
            max-width: $size-rem*40;
        }
}
.jumbotron-heading {
    font-weight: 300;
}
.album {
    min-height: 100vh;
    padding-top: $size-rem*3;
    padding-bottom: $size-rem*6;
}
.card {
    float: left;
    width: 100%;
    padding: $size-rem*0.75;
    border: 1px solid rgba(31, 31, 31, 0.144);
    background-color: rgba(255, 255, 255, 0.472);
        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    @include sm(){
        width:50%;
    }
    @include md(){
        width: 33%;
    }
}
.modal-dialog {
    max-width: none;
    @include sm(){
        margin: $size-px*3;
    }
    @include lg() {
        margin: $size-px*3 auto;
        max-width: 932px;
    }
}
.modal-body {
    padding: 0 15px;
}
.modal{
    .image {
        @include bgset;
        height: calc( 100vh - 60px);
        border-radius: .2rem .2rem 0 0;
        @include md(){
        border-radius: .2rem 0 0 .2rem;
        }
    }
    .header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
            h2 {
                margin: 0;
            }
    }
    .close {
        margin-right: $size-rem;
        padding-left: 3px;
        padding-right: 3px;
        font-size: $size-rem*2;
    }
    .meta {
        color: darkgray;
        font-size: $size-px*1.2;
    }
    .thumbs {
        display: flex;
        justify-content: flex-start;
    }
    .thumb {
        @include bgset;
        width: $size-px*5;
        height: $size-px*5;
        margin-right: $size-px;
    }
    .fade {
        .modal-dialog{
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0); // IE9 only
            transform: translate(0, 0);
        }
    }
}
.modal-content {
    border: none;
}
.close-item {
    display: block;
}
#text-1{
    @include text-animation(2s);
}
#text-2 {
    @include text-animation(4s);
}
#text-3 {
    @include text-animation(6s);
}
.text-decoration-none {
    text-decoration: none !important;
}
.text-md-dark{
    @include md(){
        color: rgb(19, 19, 19) !important;
    }
}
.bg-md-white{
    @include md(){
        background-color: rgba(255, 255, 255, 0.479);
        padding-top: $size-rem;
        @include border-radius(10px);
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}