body {
  font-family: "Microsoft JhengHei";
  background-image: url("../../img/bg.jpg"); }

.bg-wood {
  background-image: url("../../img/bg2.jpg"); }

.bg-wood2 {
  background-color: rgba(255, 255, 255, 0.322);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }

.bg-brown {
  background-color: #210d05; }

.photo-maso {
  background-image: url("../../img/maso2.png"); }

.bg-cover {
  background-size: cover;
  background-position: center center; }

.content-pr {
  position: relative; }

.photo-position {
  position: absolute;
  top: 0;
  bottom: 0; }

.py-10 {
  padding-bottom: 3rem; }
  @media (min-width: 768px) {
    .py-10 {
      padding-bottom: 20rem; } }

.bg-md-dark {
  background-color: rgba(24, 24, 24, 0.411);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px; }
  @media (min-width: 768px) {
    .bg-md-dark {
      background-color: transparent; } }

.bg-tra {
  background-color: transparent !important; }

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff; }
  .jumbotron p:last-child {
    margin-bottom: 0; }
  .jumbotron .container {
    max-width: 40rem; }

.jumbotron-heading {
  font-weight: 300; }

.album {
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 6rem; }

.card {
  float: left;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid rgba(31, 31, 31, 0.144);
  background-color: rgba(255, 255, 255, 0.472); }
  .card img {
    display: block;
    margin: 0 auto;
    width: 100%; }
  @media (min-width: 576px) {
    .card {
      width: 50%; } }
  @media (min-width: 768px) {
    .card {
      width: 33%; } }

.modal-dialog {
  max-width: none; }
  @media (min-width: 576px) {
    .modal-dialog {
      margin: 30px; } }
  @media (min-width: 992px) {
    .modal-dialog {
      margin: 30px auto;
      max-width: 932px; } }

.modal-body {
  padding: 0 15px; }

.modal .image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc( 100vh - 60px);
  border-radius: .2rem .2rem 0 0; }
  @media (min-width: 768px) {
    .modal .image {
      border-radius: .2rem 0 0 .2rem; } }

.modal .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .modal .header h2 {
    margin: 0; }

.modal .close {
  margin-right: 1rem;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 2rem; }

.modal .meta {
  color: darkgray;
  font-size: 12px; }

.modal .thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.modal .thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-right: 10px; }

.modal .fade .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal-content {
  border: none; }

.close-item {
  display: block; }

#text-1 {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s; }

#text-2 {
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  -webkit-animation: fadein 4s;
  -o-animation: fadein 4s; }

#text-3 {
  animation: fadein 6s;
  -moz-animation: fadein 6s;
  -webkit-animation: fadein 6s;
  -o-animation: fadein 6s; }

.text-decoration-none {
  text-decoration: none !important; }

@media (min-width: 768px) {
  .text-md-dark {
    color: #131313 !important; } }

@media (min-width: 768px) {
  .bg-md-white {
    background-color: rgba(255, 255, 255, 0.479);
    padding-top: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
